.card {
    --main-color: #fff;
    --bg-color: #323232;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    padding: 20px;
    width: 320px;
    background: var(--bg-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .card__back svg, .card__menu svg {
    width: 20px;
    height: 20px;
  }
  
  .card__img {
    width: 170px;
    height: 170px;
    background: linear-gradient(90deg, #fff8f79a, #f0f7dfa2);
    border-radius: 100%;
    margin-inline: auto;
  }
  
  .card__img svg {
    height: 150px;
    transform: rotate(-45deg) translate(15px, 0px);
  }
  
  .card__title {
    font-weight: 600;
    font-size: 25px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    font-weight: 400;
    font-size: 15px;
    color: var(--main-color);
    letter-spacing: 0.5px;
  }
  
  .card__price {
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);
  }
  
  .card__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 5px;
    background: #666;
    border-radius: 50px;
  }
  
  .card__counter-score, .card__btn {
    font-weight: 600;
    font-size: 22px;
    color: var(--main-color);
  }
  
  .card__btn {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background: transparent;
  }
  
  .card__btn-plus {
    background: var(--bg-color);
  }