.Navbar {
    color: 'white'; 
    background-color: black; 
}

.Buttons {
    margin: 10;
    justify-content: center;
    display: flex;
}

.button {
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-color: white;
}

.boton-estilizado {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
  }
  
  .boton-estilizado:hover {
    background-color: #0056b3;
  }