.container {
    width: 100vw;
    /*height: 100vh; */
    overflow-y: auto;
    background-color: lightgray;
    /*flex: 1;*/
    display: flex;
    align-items: center; 
    flex-direction: column;
    vertical-align: top;
    justify-content: flex-start;
    align-self: flex-start;
    align-content: flex-start;
    


}

.entradas {
    width: 80%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    

}

.product {
    width: 100%;
    /*background-color: rgb(164, 212, 204, 0.7);*/
    background-color: whitesmoke;
    padding: 0.2px;
    margin-top: 1%;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    /*border-bottom: 2px solid black;*/
    border-radius: 9px;

}
.titles {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 2%;
    justify-content: space-between;
    margin-bottom: 0.5%;
    color: gray;
}

.title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0%;
    font-size: 1.5rem;
}

.categories {
    color: orangered;
    font-weight: bolder;
    font-size: x-large;
}

.text {
    margin-left: 2%;
    /*margin-right: 2%;*/
    margin-bottom: 0%;
    margin-top: 0.5%;
}

.descripcion {
    font-size: 70%;
    margin-top: 0%;

}

.product:hover {
    cursor: pointer; 
  }

  .categoria {
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0%;
    font-size: medium;
    background-color: aqua;
  }

  .buttons-edit {
    width: 20%;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    justify-content: flex-end;
    

  }

  .names {
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;

  }


.final-line {
    margin-top: 0%;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1.2%;
    margin-bottom: 1%;
    width: 20%;
    
}


.category {
    flex: 1;
    display: flex;
    justify-content: center;
   
    
    
}

.name {
    flex: 1;
    display: flex;
    margin-left: 1%;
    margin-bottom: 0%;
    margin-right: 2%;
}

.firstRow {
    flex: 1;
    display: flex;
    width: 80%;
    flex-direction: row;
   
}

.add-product {
  flex: 1;
  justify-content: flex-start;

    
}

.filter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    
} 

.input-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    margin-top: 1%;
    
  }
  
  .custom-input {
    /*border: none;*/
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border-radius: 12px;
    background-color: lightgray;
    border-color: #999;
    border-width: 2px;
    width: 80%;
    
  }
  
  .custom-input::placeholder {
    color: #999;
    color: grey;
  }
  
  

  .custom-input:focus {
    border: 2px solid #007bff; 
  }

  .filterBy {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }


@media (max-width: 768px) {
    .entradas{
      width: 100% !important; 
        padding: 1px;
        font-size: 1.5rem;
    }
    .titles {
        width: 100%;
        justify-content: flex-start !important;
        font-size: 1rem !important;
    }
    .descripcion {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .title {
          font-size: 0.5rem !important;
      }
      .custom-input{
        width: 80%;
        margin-left: 2%;
      }
  }