@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.flx {
  display: flex;
  align-items: center;
}

.grd {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icn {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.imag,
.logoimg {
  height: auto;
  width: 100%;
}

.message {
  display: none;
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 1rem;
  color: var(--greyText);
}

.btn .icn {
  margin-left: .5rem;
}

.btn:hover {
  color: var(--primaryColor);
  background-color: var(--paleGreen);
}

.loginPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
}

.loginPage .cntainr {
  height: 70vh;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  border-radius: 10px;
  background: rgb(0, 0, 0, 0.3);
}

.loginPage .cntainr .imageDiv {
  position: relative;
  display: flex;
  flex-basis: 50%;
  width: 70%;
  height: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.loginPage .cntainr .imageDiv .imag,
.loginPage .cntainr .imageDiv .footerDiv {
  position: absolute;
}

.loginPage .cntainr .imageDiv .imag {
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loginPage .cntainr .imageDiv .textDiv {
  position: relative;
}

.loginPage .cntainr .imageDiv .textDiv .title {
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.loginPage .cntainr .imageDiv .textDiv .subtitle {
  color: var(--whiteColor);
  font-size: 25px;
  font-weight: 800;
  margin-top: 1rem;
}

.loginPage .cntainr .imageDiv .textDiv p {
  color: var(--whiteColor);
  padding: 1rem;
  font-weight: 400;
}

.loginPage .cntainr .imageDiv .footerDiv {
  bottom: 10px;
  padding: 0 1rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  left: 10px;
  right: 10px;
  justify-content: space-between;
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.loginPage .cntainr .imageDiv .footerDiv .text {
  /*color: var(--whiteColor);*/
  color: black;
  
  font-size: 1.2rem;
}

.loginPage .cntainr .imageDiv .footerDiv .btn {
  background: #a4d4cc;
  color: var(--blackColor);
  padding: .8rem 1.5rem;
  border-radius: 10px;
  font-weight: 400;
  transition: .3s ease;
  opacity: 0.9;
  font-size: 1rem;
}

.loginPage .cntainr .imageDiv .footerDiv .btn:hover {
  background: #97d4ca;
  color: var(--blackColor);
}

.loginPage .cntainr .formDiv {
  flex-basis: 50%;
  margin: auto;
  flex-direction: column;
  gap: 1.5rem;
  transform: translateY(-1rem);
}

.loginPage .cntainr .formDiv .headerDiv {
  text-align: center;
  padding: 1.5rem 0;
}

.loginPage .cntainr .formDiv .headerDiv .logoimg {
  width: 150px;
}

.loginPage .cntainr .formDiv .headerDiv h3 {
  font-size: 25x;
  color: var(--blackColor);
  font-weight: 600;
}

.loginPage .cntainr .formDiv .form {
  gap: 1rem;
}

.loginPage .cntainr .formDiv .form .inputDiv .icn {
  color: var(--greyText);
  margin-left: 1rem;
}

.loginPage .cntainr .formDiv .form .inputDiv .inpt {
  outline: none;
  border: none;
  width: 100%;
  height: 3rem;
  gap: .5rem;
  background: var(--inputColor);
  border-radius: 3px;
}

.loginPage .cntainr .formDiv .form .inputDiv .labl {
  color: var(--whiteColor);
  font-weight: 400;
  font-size: 20px;
  padding: .4rem 0;
  display: block;
}

.loginPage .cntainr .formDiv .form .btn {
  padding: .8rem;
  background: #a4d4cc;
  border-radius: 5px;
  color: var(--blackColor);
  align-items: center;
  margin: auto;
  justify-content: center;
  font-size: 20px;
  width: 100%;
  gap: .5rem;
  transition: .3s ease;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

.loginPage .cntainr .formDiv .form .btn:hover {
  color: var(--blackColor);
  background: #97d4ca;
}

.loginPage .cntainr .formDiv .form .forgotPassword {
  margin-top: 1rem;
  font-size: .85rem;
  font-family: 'Roboto', serif;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .loginPage .cntainr {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem;
  }

  .loginPage .cntainr .imageDiv {
    
    width: 300px;
    margin-top: 1rem;
  }

  .loginPage .cntainr .imageDiv .textDiv {
    display: none;
  }

  .loginPage .cntainr .imageDiv .footerDiv {
    margin-bottom: 5rem;
  }

  .loginPage .cntainr .imageDiv .footerDiv .text {
    font-size: 12px;
  }

  .loginPage .cntainr .imageDiv .footerDiv .btn {
    padding: .4rem 1.5rem;
  }

  .loginPage .cntainr .imageDiv .imag {
    display: none;
  }
}
